* {
    border: red 1px;
    border-style: dashed;
}

body{
    margin: auto;
    background-color: black;
    width: 800px;
}

#topWrapper {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}

#mainWrapper {
    background-color: #d3d3d3;
    margin: auto;
}

#mainWrapper > .Post {
    position: relative;
    margin: auto;
}


.Post{
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
}


.postTop > *{
    display: inline-flex;
}

.Date{
    float: right;
    padding-top: 15px;
    padding-right: 15px;
    color: grey;
}

h3 {
    padding-left: 15px;
}